# pnpm settings
# Nest/BullMQ y algunas libs asumen dependencias planas; subimos el patrón.
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@nestjs/*
public-hoist-pattern[]=reflect-metadata
auto-install-peers=true
strict-peer-dependencies=false
